// root
@import './utils/variables';

// Base
@import './base';

// Utils
@import './utils/utils';

//Mixin
@import './utils/mixin';

// Buttons
@import './components/buttons';

// Links
@import './components/links';

/* Header section */
@import './components/header';

/* Hero section */
@import './components/hero-section';

/* Advantages section */
@import './components/advantages-section';

/* Traditions section */
@import './components/tradition-section';

/* Chef section */
@import './components/chef-section';

/* Formats section */
@import './components/formats-section';

/* Contact section */
@import './components/contact-section';

/* Footer section */
@import './components/footer-section';

/* Modal */
@import './components/modal';

/* Form */
@import './components/form';

/* Checkbox Terms */

/* .checkbox{
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.checkbox-input{
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
}

.checkbox-label{
  padding-left: 24px;
}

.checkbox-label::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-left: 110px;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 4px;
  content: '';
} */