.section-title {
    font-size: 50px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 48px;
}

.body-no-scroll {
    overflow: hidden;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    padding: 0 24px;
    max-width: 1288px;
    margin: 0 auto;
}