:root {
    /* Primary color */
    --primary-white: #ffffff;
    --primary-blue: #2b7fff;
    --primary-dark-blue: #011c44;
    /* Secondary color */
    --secondary-grey-1: #4a4a4a;
    --secondary-grey-2: #747272;
    --secondary-dark: #011f4a;
    --secondary-yellow: #ffd02b;
    /* Adaptive index */
    --index: calc(1vw + 1vh);
}

$bp-mobile : 480px;
$bp-tablet : 768px;
$bp-desktop : 1200px;