.section-about {
  margin-top: calc(var(--index) * 1.5);
  display: flex;
  width: 100%;
  gap: 40px;
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 200px;
  }

  &__star {
    position: absolute;
    right: 22px;
    animation: rotate 20s linear infinite;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__star:active {
    fill: var(--secondary-yellow);
  }

  &-text {
    width: 1200px;

    &__title {
      // font-size: calc(var(--index) * 1.7);
      font-size: 35px;
      width: 300px;

      @media screen and (min-width: $bp-tablet) {
        font-size: 50px;
        width: 80%;
      }
    }

    &__paragraph {
      font-size: 18px;
      margin-top: 20px;
      line-height: 30px;
    }

    & p span {
      font-weight: bold;
      color: black;
    }
  }

  &-img {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      width: 700px;
      margin-top: -150px;
      display: block;
    }

    &-images {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      position: absolute;

      &__img1 {
        margin-top: 350px;
        margin-left: 150px;
      }

      &__img2 {
        margin-left: -40px;
      }
    }

    &__star {
      position: absolute;
      transition: fill 0.2s ease-in-out;

      &__star1 {
        margin-top: 350px;
        margin-left: 50px;
        fill: var(--primary-dark-blue);
        animation: rotate-scale 10s linear infinite;
      }

      &__star2 {
        margin-top: 60px;
        margin-left: 400px;
        fill: var(--primary-blue);
        animation: rotate-scale 7s linear infinite;
      }

      &__star3 {
        margin-top: 300px;
        margin-left: 350px;
        fill: var(--secondary-grey-2);
        animation: rotate-scale 5s linear infinite;
      }
    }

    &__star:hover {
      fill: var(--secondary-yellow);
    }
  }
}
