.contact-form {
    max-width: 340px;
    height: 500px;
    background-color: var(--secondary-dark);
    border-radius: 32px;
    position: relative;
    padding: 0 20px;
    margin: 0 20px;

    @media screen and (min-width: $bp-tablet) {
        max-width: 420px;
        
    }
}

.form-text {
    font-size: 20px;
    color: var(--primary-white);
    margin: 50px auto;
    width: 100%;
    max-width: 290px;
    text-align: center;
    position: relative;
}

.form {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: 410px;
    margin: 0;

    & button {
        background-color: var(--primary-blue);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: var(--primary-white);
        border: none;
        padding: 10px 30px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 32px;
        height: 50px;
        margin-top: 10px;
        transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    & button:hover {
        background-color: transparent;
        border: var(--primary-blue) 1px solid;
    }

    & p {
        font-size: 13px;
        color: var(--secondary-grey-2);
        margin-top: 20px;
        text-align: center;
        width: 68%;
    }

    & p a {
        text-decoration: underline;
        font-weight: bold;
    }

    &-field {
        position: relative;
    }

    &-label {
        position: absolute;
        top: 16px;
        left: 42px;
        font-size: 16px;
        line-height: 1.17;
        color: var(--primary-white);
    }

    &-input {
        max-width: 330px;
        height: 50px;
        border-radius: 32px;
        border: var(--secondary-grey-2) 2px solid;
        background-color: transparent;
        color: var(--primary-white);
        padding-left: 20px;
        margin-bottom: 20px;
        transition: background-color 0.2s ease-in-out;
        padding: 16px 42px;

        @media screen and (min-width: $bp-tablet) {
            width: 320px;
        }
    }

    &-input:focus {
        background-color: var(--secondary-grey-2);
    }

    &-input::placeholder {
        color: var(--primary-white);
        opacity: 0.85;
    }
}




.background_form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    filter: invert(3%);
}